body{
    background-image:  linear-gradient(rgb(0,0,0,0),black 95%,black 85%),url("equipment (6).jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#div1{
    border: solid;
    height: 50px;
    margin: -8px;
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.a{
    font-family: "Alfa Slab One", serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  color: black;
    transition: all 200ms;
}
.a:hover{
    color: white;
}
.a2{
  text-decoration: none;
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  color: black;
    transition: all 200ms;
}
.a2:hover{
    color: white;
}
#search{
    background-color: black;
    border: black;
    color: white;
    border-radius: 15px;
    padding: 8px 20px;
    transition: all 250ms;
    cursor: pointer;
}
#search:hover{
    background-color: white;
  color: black;
  transform: scale(1.05);
}